/*** Navigation bar ***/
.navbar {
  background-color: #2d394b;
  height: 4.5em;
}

.navbar-brand {
  color: #ffffff;
  text-transform: uppercase;
  border: 2px #dbab3f solid;
  border-radius: 2px;
  padding: 6px;
  font-family: 'Black Ops One', cursive;
  font-size: x-large;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
