/* Body */
body {
    background-color: #1A2E3C;
}

/*** Navigation bar ***/
.navbar {
  background-color: #2d394b;
  height: 3.75em;
}

.navbar-brand {
  color: #ffffff;
  text-transform: uppercase;
  border: 2px #dbab3f solid;
  border-radius: 2px;
  padding: 6px;
  font-family: 'Black Ops One', cursive;
  font-size: x-large;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: large;
}

.navbar-brand:hover {
  color: #ffffff;
}

.nav-link:hover {
  font-weight: 600;
  color: #ffffff;
}

.btn {
  background-color: #dbab3f;
  color: #ffffff;
}

.active {
  color: #dbab3f;
}


/* Contact Us */

.name-email--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.contact--form {
    width: 33%;
    margin-left: 20px;
    color: #ffffff;
}

.contact--header {
    margin-left: 20px;
    color: #ffffff;
}

/* Body */

body {
    background-color: #1A2E3C;
}

/* About Us */

.about--us {
    border: 3px solid #FFFFFF;
    margin: 50px auto;
    width: 75%;
    background-color: #CBB989;
    padding: 20px;
}

.why--jorts {
    font-family: 'Black Ops One', cursive;
    text-align: center;
    color: #FFFFFF;
}

.about--us p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: #FFFFFF;
}

.about--us img {
    width: 400px;
    clear: left;
    float: right;
    margin-left: 20px;
    border: 2px solid #FFFFFF;
}
